
<body>
  <% if(typeof errors != 'undefined') {%>
    <% errors.forEach((error) =>{%>
      <script> alertify.error('<%= error.msg %>')</script>
      <% })%>
<% } %> 

<% if(success_msg != ''){ %>
  <script>alertify.success('<%= msg %>')</script>
<% } %>
    <main>
      <div class="container">

        <section class="section error-404 min-vh-100 d-flex flex-column align-items-center justify-content-center">
          <h1>Dashboard</h1>
          <% if(typeof user != 'undefined') {%>
          <h2>Welcome <%= user.name %></h2>
          <%}%>
          <a class="btn btn1" href="/">Back to home</a>
          <a class="btn btn-danger mt-3 mb-3" href="/users/logout">Logout</a>

          <form action="/users/upload" method="post" enctype="multipart/form-data">
            <div class="row mb-3">
              <div class="col-sm-10">
                <input class="form-control dropify" name="myImage" type="file" id="myImage">
              </div>
              <div class="col-sm-10 mt-2">
                <button type="submit" class="btn btn-primary">Upload Image</button>

              </div>
            </div>
  
          </form>
          
        <div class="row">
          <% if( typeof photos != 'undefined') {  %>
            <% photos.forEach((photo) =>{%>

            <img src="/uploads/<%= typeof photo.name != 'undefined' ? photo.name :''%>" width="400" height="400" class="responsive-img float-right"/>
         <% }) %>
         <% } %>
        </div>
        
          <img src="/assets/img/not-found.svg" class="img-fluid py-5" alt="Page Not Found">
          <div class="credits">
            <!-- All the links in the footer should remain intact. -->
            <!-- You can delete the links only if you purchased the pro version. -->
            <!-- Licensing information: https://bootstrapmade.com/license/ -->
            <!-- Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/nice-admin-bootstrap-admin-html-template/ -->
            Designed by <a href="https://bootstrapmade.com/">BootstrapMade</a>
          </div>
        </section>
  
      </div>
    </main><!-- End #main -->
  
    <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>
  

  </body>